.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 113px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 728px;
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 1003px;
  margin: 60px auto;
}

.u-section-1 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 5px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-6 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-8 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-7 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-9 {
  margin-top: 0;
}

.u-section-1 .u-accordion-item-8 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-8 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  margin-bottom: 0;
  padding: 15px 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 30px 28px;
}

.u-section-1 .u-text-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-accordion-item-9 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-10 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-12 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-11 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-13 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-12 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 110px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-14 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-accordion-1 {
    width: 940px;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-4 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-5 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-6 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-7 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-8 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-9 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-10 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-11 {
    height: auto;
  }

  .u-section-1 .u-accordion-pane-12 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}
ul.dropdown-menu.dropdown-menu-dark.show li a {
  text-decoration: none;
  color: white;
  /* margin: 0 8%; */
}

nav{
  height:50px;
}

