#one{
    padding-left: 250px;
    padding-top: 100px;
    margin-top: auto;
  
  font-weight: bold;
  }
  body {
    color: white;
    font-family: sans-serif;
  }
  
  
  ul.dropdown-menu.dropdown-menu-dark.show li a {
      text-decoration: none;
      color: white;
      /* margin: 0 8%; */
  }