@charset "utf-8";

body{
    margin:0px;
    padding: 0px;
    background-color: #FFFFFF;
}

a{
    text-decoration: none;

}

.social a{
    padding: 20px;
    color: #7b7c7c;
    font-size: 1.5rem;
}

#contact{
    position: absolute;
    left:50%;
    top:70%;
    transform:translate(-50%,-50%);
    display: flex;
    align-items: center;
}

.social{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.social a:hover{
    color:#000000;
    transition:all ease 0.3s;
}

.contact-box{
    background-color: #434445;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}

.c-heading h1{
    font-family: Roboto;
    color:#e7eef3;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.c-heading p{
    font-family: Roboto;
    color:#cecece;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.c-inputs{
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-inputs input{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(251,251,251,0.1);
    outline: none;
    margin: 10px 0px;
    box-sizing: border-box;
    color: #f4f4f4;
    display: flex;
}

.c-inputs textarea{
    width: 250px;
    height: 250px;
    outline: none;
    background-color: rgba(251,251,251,0.1);
    border: 1px solid rgba(82,82,82,1);
    color:#f4f4f4;
    padding:10px;
    font-size: 1.2rem;
    box-sizing: border-box;
}

input[type=submit]{
    width: 200px;
    height:40px;
    background-color: #FFFFFF;
    border:none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
}

.c-inputs input:focus{
    border-bottom: 1px solid rgba(252,252,252,1.00);
    transition: all ease 0.5s;
}

.c-inputs textarea:focus{
    border:none;
    border-bottom: 1px solid rgba(255,255,255,1.00);
    transition: all ease 0.5s;
}

.c-inputs button:active{
    transform: scale(1.02);
}

.map{
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border: 2px solid #FFFFFF
}

@media(max-width:1100px){
    .map{
        display:none;
    }
}

ul.dropdown-menu.dropdown-menu-dark.show li a {
    text-decoration: none;
    color: white;
    /* margin: 0 8%; */
}